fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-postgres
langchain-community
psycopg[binary,pool]
pypdf
tiktoken
tenacity
# optional UI
streamlit
pymssql
psycopg2-binary
plotly
langgraph
langsmith
fpdf
fpdf2
reportlab
cryptography
pyodbc

streamlit
pandas
rapidfuzz
phonetics
sqlalchemy>=2.0.25
pymysql>=1.1.0